{% extends 'base.html.twig' %}

{% block title %}FcpXML files in {{ root }}{% endblock %}

{% block content %}

<div class="example-wrapper">
    <h1></h1>

    <table>
        <thead>
        <tr>
            <th>Filename</th>
            <th>Version</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
        {% for fn, fileData in data %}
            {% set file = fileData.file %}
            {% set version = fileData.version %}
        <tr>
            <td>
                <a href="{{ path('fcp_xml_show', {fn: file.realPath}) }}">{{ fn }}</a>
            </td>
            <td>
                {{ version  }}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
