{% extends "@SurvosLanding/public_base.html.twig" %}


{% block breadcrumbs %}

    <li>
        <a href="{{ path('survos_landing') }}">Home</a>
    </li>

{% endblock %}
{% block body %}
    <ul class="list-inline">
    {{ block('breadcrumbs') }}
    </ul>

    {{ block('content') }}
{% endblock %}